.picture_wrapper {
    width: 100%;
    height: calc(170px + (235 - 170) * ((100vw - 360px) / (1920 - 360)));
    display: flex;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.picture {
    object-fit: cover;
    object-position: center;
}