.card {
    background-color: #fff;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .15);
    width: calc(320px + (450 - 320) * ((100vw - 360px) / (1920 - 360)));
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    min-height: calc(380px + (480 - 380) * ((100vw - 360px) / (1920 - 360)));
}

.picture_overlay:hover {
    opacity: .85;
    transition: all 0.4s ease-in-out 0s;
}

.picture_overlay:hover ~ .card_bottom .excerpt {
    visibility: visible;
    transition: all 0.3s ease-in-out .2s;
    height: auto;
    margin-left: 0;
    opacity: 1
}

.picture_overlay:hover ~ .card_bottom h3 {
    visibility: hidden;
    max-height: 0;
    margin-left: 30px;

}

.excerpt {
    color: rgb(var(--text));
    font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (1920 - 360)));
    visibility: hidden;
    margin-left: -20px;
    position: relative;
    height: 0;
    opacity: 0;
    margin-top: -20px;
}

.card_picture {
    width: 100%;
    height: calc(170px + (235 - 170) * ((100vw - 360px) / (1920 - 360)));
    /*object-fit: cover;*/
    display: flex;
    border-radius: 4px 4px 0 0;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
}

.picture_overlay h3 {
    text-align: center;
    color: white;
    padding: 25px;
    width: 100%;
    font-weight: 400;
    font-size: calc(17px + (20 - 17) * ((100vw - 360px) / (1920 - 360)));
    text-transform: uppercase;
    bottom: 0;
    position: absolute;
}

.picture_overlay {
    /*background: rgba(var(--blue), 0.9);*/
    background: linear-gradient(to top, rgba(var(--text, 1)) 2%, rgb(var(--red)) 92%);
    position: absolute;
    height: calc(170px + (235 - 170) * ((100vw - 360px) / (1920 - 360)));
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .6s ease-in-out;

}

.card_caption {
    font-weight: 400;
    font-size: calc(22px + (24 - 22) * ((100vw - 360px) / (1920 - 360)));
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

.cc_smaller {
    font-size: calc(18px + (21 - 18) * ((100vw - 360px) / (1920 - 360)));
}

.card_bottom {
    padding: 15px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_content {
    min-height: 135px;
}

.bottom_content a h3:hover {
    color: var(--red);
}

.button_wrapper {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 100%;
    margin-top: 15px;
}

.more_button {
    background-color: rgb(var(--red));
}