.loader_container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.loader {
    background-image: url("../../assets/images/logo.webp");
    background-position: center;
    background-size: cover;
    z-index: 20;
    width: calc(40px + (70 - 40) * ((100vw - 360px) / (1920 - 360)));
    height: calc(40px + (70 - 40) * ((100vw - 360px) / (1920 - 360)));
    border-radius: 100%;
    -webkit-animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: fade-in 1.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

@-webkit-keyframes loader {
    0% {
        opacity: .2;
        filter: blur(1px);
    }
    50% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        opacity: .2;
        filter: blur(1px);
    }
}

@keyframes fade-in {
    0% {
        opacity: .2;
        filter: blur(1px);
    }

    25% {
        opacity: 1;
        filter: blur(0);
    }
    50% {
        opacity: .2;
        filter: blur(1px);
    }
    100% {
        opacity: .2;
        filter: blur(0);
    }
}

.loader_spin {
    animation: spin 1s linear infinite;
    border: solid 2px rgb(var(--red));
    border-top: solid 5px transparent;
    border-radius: 100%;
    width: calc(50px + (80 - 50) * ((100vw - 360px) / (1920 - 360)));
    height: calc(50px + (80 - 50) * ((100vw - 360px) / (1920 - 360)));
    display: inline-block;
    z-index: 21;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}