.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
    height: 180px;
    position: relative;
    gap: 40px;
}

.red_text {
    color: rgb(var(--red));
}

.header_wrapper h1 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(var(--blue), .85) 20%, rgba(var(--red), .75) 70%);;
}