.widgets_wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    /*border: 1px solid #ddd;*/
    margin-top: 20px;
}

.widget_card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.widget_card svg {
    color: rgb(var(--green));
}

.widget_card h3 {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link:hover h3 {
    color: rgb(var(--red));
}
.link:hover svg {
    color: rgb(var(--red));
}