.widgets_wrapper {
    display: flex;
    gap: calc(10px + (20 - 10) * ((100vw - 800px) / (1920 - 800)));
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.widget_card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 6px 26px rgba(0, 0, 0, .15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.widget_card h3 {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link:hover h3 {
    color: rgb(var(--red));
}
.link:hover svg {
    color: rgb(var(--red));
}