@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --link-color: #0f8ba9;
    --link-active-color: #f1c40f;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

:root {
    --background-color: #f6f6f6;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Roboto Slab', sans-serif;
}
