@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --link-color: #0f8ba9;
    --link-active-color: #f1c40f;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

:root {
    --background-color: #f6f6f6;
    font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h2 {
    margin-bottom: 30px;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}
h4 {
    font-size: 22px;
    margin-bottom: 25px;
}
h5 {
    font-size: 20px;
    margin-bottom: 24px;
}
p {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.6em;
}
ul {
    margin-left: 40px;
    margin-bottom: 20px;
}
.main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: calc(12px + (25 - 12) * ((100vw - 360px) / (1920 - 360)));
}
.main li {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.8em;
}
button {
    margin-top: 10px;
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: calc(18px + (23 - 18) * ((100vw - 360px) / (1920 - 360)));
    padding-right: calc(18px + (23 - 18) * ((100vw - 360px) / (1920 - 360)));
    color: #fff;
    height: calc(33px + (40 - 33) * ((100vw - 360px) / (1920 - 360)));
    font-size: 0.7rem;
    line-height: 13px;
    letter-spacing: 1.1px;
    transition: .2s .1s;
    background-image: linear-gradient(to bottom, #0d1a50 35%, #bd0554 92%);
    border: 0 solid;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    transform: translateY(-1px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
}

button:active {
    transform: translateY(0);
}
.alignright {
    float: right;
    margin: 15px;
}

.alignleft {
    float: left;
    margin: 15px;
}

.aligncenter {
    display: block;
    margin: 5px auto 10px auto;
    clear: both;
    width: 100%;
    height: auto;
}
.gallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.gallery-item {
    display: block;
}

.iframe_container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.iframe_container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}