.categories_wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.categories_wrapper a {
    font-family: "Roboto Slab", sans-serif;
    text-transform: uppercase;
}

.categories_wrapper a:hover {
    color: var(--blue);
}