.pagination_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.pagination {
    background-image: none;
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #010152;*/
    color: whitesmoke;
    line-height: 0;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(var(--red));
    border: 0;
}
.pagination.active:hover {
    cursor: initial;
    transform: initial;
    box-shadow: initial;
}

.active {
    border: 1px solid rgb(var(--red));
    font-weight: 600;
    cursor: initial;
    font-size: 1em;
    color: rgb(var(--text));
    background-color: white;
}

.dots {
    width: 40px;
    height: 40px;
    border-bottom: 2px dotted rgb(var(--text));
}