.slider_wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    min-height: 430px;
}

.single_slide {
    position: relative;
}

.single_slide:hover .excerpt {
    opacity: 1;
    scale: 1;
}

.single_slide:hover .caption {
    opacity: 0;
}

.single_slide:hover a {
    color: inherit;
}

.single_slide .caption {
    font-size: calc(23px + (27 - 23) * ((100vw - 800px) / (1920 - 800)));
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: rgba(255, 255, 255, .84);
    padding: 15px;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: all .25s ease-in-out .25s;

}


.excerpt {
    position: absolute;
    opacity: 0;
    scale: .8;
    bottom: -20px;
    left: 0;
    padding: 30px;
    background-color: rgba(255, 255, 255, .89);
    transition: all .25s ease-in-out .25s;
}

.excerpt p {
    font-size: calc(16px + (17 - 16) * ((100vw - 800px) / (1920 - 800)));
}

.picture {
    object-position: center;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .slider_wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;
        min-height: 215px;
    }
}