.slider_wrapper {
    width: 350px;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.single_slide {
    position: relative;
}

.single_slide .caption {
    font-size: 24px;
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    padding: 0;
    width: 100%;
    text-align: center;
    transition: all .3s ease-in-out .5s;
}

@media screen and (max-width: 800px) {
    .slider_wrapper {
        height: 290px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .slider_wrapper {
        width: 100%;
        height: 100%;
        /*width: 100%;*/
        aspect-ratio: 16 / 9;
    }
}