.content {
    width: 320px;
    padding: 1em;
    position: relative;
    /*margin-top: 10px;*/
}

.search {
    --size: 50px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    /*width: var(--size);*/
    width: 100%;
    border: 2px solid rgb(var(--red));
    height: var(--size);
    margin-left: auto;
    padding: 3px;
}

@media (prefers-reduced-motion: no-preference) {
    .search {
        transition: width 300ms ease-in-out;
    }
}

.search__input {
    border: 0;
    padding: 0.25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
    font-family: "Roboto Slab", sans-serif;
}

.search__submit {
    font-size: 1.5rem;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background 200ms ease-out;
    /*width: calc(var(--size) - 10px);*/
    height: calc(var(--size) - 10px);
    background: rgb(var(--red));
    color: white;
    padding: 5px;
}

.search:focus-within {
    border: 2px solid rgb(var(--red));
    /*width: 100%;*/
}

.search:focus-within .search__input {
    opacity: 1;
    z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
}

.search:focus-within .search__submit {
    background: rgb(var(--red));
    color: white;
    transition: transform 500ms ease-out;
}

.search:focus-within .search__submit:hover, .search:focus-within .search__submit:focus {
    outline: 0;
}

@media screen and (max-width: 800px) {
    .content {
        width: 280px;
    }
    .search {
        width: var(--size);
        border: 0;
    }

    .search__submit {
        width: calc(var(--size) - 10px);
        background: inherit;
        color: inherit;
    }

    .search:focus-within {
        width: 100%;
    }
}