.menu {
    background-color: #fafafa;
    width: 90vw;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 30px;
    /*font-family: Verdana, 'Openy Sans', sans-serif;*/

}

.menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    float: left;
    margin: 0;
}

.menu ul li a, .menu ul li span {
    display: block;
    padding: 15px 20px 30px 15px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.12em;
    font-size: 14px;
}

.menu ul li .arrow_right {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    margin-bottom: 3px;
    transition: .1s all ease-in-out;
}

.menu ul li ul {
    float: left;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    visibility: hidden;
    transition: all .4s ease;
    z-index: 1;
    gap: 0;
    flex-direction: column;
    width: max-content;
    box-sizing: border-box;
}


.menu ul li:hover > ul {
    visibility: visible;
    transition: all .4s ease;
    opacity: 1;
    top: 55px;
    color: initial;
    height: fit-content;
}

.menu ul li input {
    display: none;
}

.menu ul li:hover {
    color: #5757cc;
    background-color: #e5e4e4;
}

.menu ul li:hover > label span .arrow_right {
    border-color: #5757cc;
}

.menu ul li ul li {
    background-color: #eeecec;
    overflow: hidden;
    padding: 0;
    border-top: 1px solid #d0d0d0;
}

.menu ul li ul li a {
    padding: 15px 20px;
    display: block;
    transition: 0.2s all ease-in-out;
    width: 100%;
    height: 100%;
}

.menu ul li ul li a:hover {
    margin-left: 3px;
    margin-right: -3px;
}

@media screen and (max-width: 800px) {
    .menu ul li:hover {
        color: inherit;
        background-color: inherit;
    }


    .menu ul li input:checked ~ ul {
        visibility: visible;
        height: fit-content;
        transition: all 0s ease;
        opacity: 1;
        top: 0;
    }


    .menu ul li:has(input:checked) {
        height: auto;
    }

    .menu ul li:hover > ul {
        visibility: inherit;
        opacity: 0;
        height: inherit;
    }

    .menu ul {
        flex-direction: column;
        gap: 0;
    }

    .menu ul li {
        position: relative;
        transition: .4s all ease-in-out;
        height: 60px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #ccc;
    }


    .menu ul li a, .menu ul li span {
        display: block;
        padding: 20px;
        margin-left: 20px;
        height: 100%;

    }

    .menu ul li ul {
        z-index: 0;
        position: relative;
        width: 100%;
        opacity: 0;
        padding: 0;
        visibility: hidden;
        flex-direction: column;
        box-sizing: border-box;

    }
    .menu ul li ul li a:hover {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menu ul li .arrow_right {
        transform: rotate(0);
        border: 0;
    }

    .menu ul li .arrow_right::before {
        content: "+";
        display: block;
    }
}